In [1]:
import pandas as pd

In [18]:
apple= pd.read_csv(r"C:\Users\HP\Desktop\arshi programs\DS_PT_1-main\Spec-DS\Mini-1\AAPL.csv")
google= pd.read_csv(r"C:\Users\HP\Desktop\arshi programs\DS_PT_1-main\Spec-DS\Mini-1\GOOG.csv")
amazon= pd.read_csv(r"C:\Users\HP\Desktop\arshi programs\DS_PT_1-main\Spec-DS\Mini-1\AMZN.csv")

In [19]:
print(apple)
print(google)
print(amazon)

            Date        Open        High         Low       Close   Adj Close  \
0     2000-01-03    3.745536    4.017857    3.631696    3.997768    3.596616
1     2000-01-04    3.866071    3.950893    3.613839    3.660714    3.293384
2     2000-01-05    3.705357    3.948661    3.678571    3.714286    3.341579
3     2000-01-06    3.790179    3.821429    3.392857    3.392857    3.052405
4     2000-01-07    3.446429    3.607143    3.410714    3.553571    3.196992
...          ...         ...         ...         ...         ...         ...
4470  2017-10-09  155.809998  156.729996  155.490005  155.839996  155.839996
4471  2017-10-10  156.059998  158.000000  155.100006  155.899994  155.899994
4472  2017-10-11  155.970001  156.979996  155.750000  156.550003  156.550003
4473  2017-10-12  156.350006  157.369995  155.729996  156.000000  156.000000
4474  2017-10-13  156.729996  157.279999  156.410004  156.990005  156.990005

         Volume
0     133949200
1     128094400
2     194580400
3     191993200
4     115183600
...         ...
4470   16262900
4471   15617000
4472   16905600
4473   16125100
4474   16344800

[4475 rows x 7 columns]
            Date        Open        High         Low       Close   Adj Close  \
0     2004-08-19   49.676899   51.693783   47.669952   49.845802   49.845802
1     2004-08-20   50.178635   54.187561   49.925285   53.805050   53.805050
2     2004-08-23   55.017166   56.373344   54.172661   54.346527   54.346527
3     2004-08-24   55.260582   55.439419   51.450363   52.096165   52.096165
4     2004-08-25   52.140873   53.651051   51.604362   52.657513   52.657513
...          ...         ...         ...         ...         ...         ...
3308  2017-10-09  980.000000  985.424988  976.109985  977.000000  977.000000
3309  2017-10-10  980.000000  981.570007  966.080017  972.599976  972.599976
3310  2017-10-11  973.719971  990.710022  972.250000  989.250000  989.250000
3311  2017-10-12  987.450012  994.119995  985.000000  987.830017  987.830017
3312  2017-10-13  992.000000  997.210022  989.000000  989.679993  989.679993

        Volume
0     44994500
1     23005800
2     18393200
3     15361800
4      9257400
...        ...
3308    891400
3309    968400
3310   1693300
3311   1262400
3312   1157700

[3313 rows x 7 columns]
            Date         Open         High          Low        Close  \
0     2000-01-03    81.500000    89.562500    79.046799    89.375000
1     2000-01-04    85.375000    91.500000    81.750000    81.937500
2     2000-01-05    70.500000    75.125000    68.000000    69.750000
3     2000-01-06    71.312500    72.687500    64.000000    65.562500
4     2000-01-07    67.000000    70.500000    66.187500    69.562500
...          ...          ...          ...          ...          ...
4470  2017-10-09   993.239990   998.500000   987.500000   990.989990
4471  2017-10-10   996.669983   997.950012   980.099976   987.200012
4472  2017-10-11   991.270020   995.500000   986.700012   995.000000
4473  2017-10-12   996.809998  1008.440002   992.400024  1000.929993
4474  2017-10-13  1007.000000  1007.770020  1001.030029  1002.940002

        Adj Close    Volume
0       89.375000  16117600
1       81.937500  17487400
2       69.750000  38457400
3       65.562500  18752000
4       69.562500  10505400
...           ...       ...
4470   990.989990   2938600
4471   987.200012   3084900
4472   995.000000   2337100
4473  1000.929993   4067300
4474  1002.940002   2407700

[4475 rows x 7 columns]

In [20]:
df1 = pd.DataFrame(apple, columns=['Adj Close'])
print(df1)
df2 = pd.DataFrame(google, columns=['Adj Close'])
print(df2)
df3 = pd.DataFrame(amazon, columns=['Adj Close'])
print(df3)

       Adj Close
0       3.596616
1       3.293384
2       3.341579
3       3.052405
4       3.196992
...          ...
4470  155.839996
4471  155.899994
4472  156.550003
4473  156.000000
4474  156.990005

[4475 rows x 1 columns]
       Adj Close
0      49.845802
1      53.805050
2      54.346527
3      52.096165
4      52.657513
...          ...
3308  977.000000
3309  972.599976
3310  989.250000
3311  987.830017
3312  989.679993

[3313 rows x 1 columns]
        Adj Close
0       89.375000
1       81.937500
2       69.750000
3       65.562500
4       69.562500
...           ...
4470   990.989990
4471   987.200012
4472   995.000000
4473  1000.929993
4474  1002.940002

[4475 rows x 1 columns]

In [22]:
print(df1.isnull())
print(df1.dropna())

      Adj Close
0         False
1         False
2         False
3         False
4         False
...         ...
4470      False
4471      False
4472      False
4473      False
4474      False

[4475 rows x 1 columns]
       Adj Close
0       3.596616
1       3.293384
2       3.341579
3       3.052405
4       3.196992
...          ...
4470  155.839996
4471  155.899994
4472  156.550003
4473  156.000000
4474  156.990005

[4475 rows x 1 columns]

In [23]:
print(df2.isnull())
print(df2.dropna())

      Adj Close
0         False
1         False
2         False
3         False
4         False
...         ...
3308      False
3309      False
3310      False
3311      False
3312      False

[3313 rows x 1 columns]
       Adj Close
0      49.845802
1      53.805050
2      54.346527
3      52.096165
4      52.657513
...          ...
3308  977.000000
3309  972.599976
3310  989.250000
3311  987.830017
3312  989.679993

[3313 rows x 1 columns]

In [24]:
print(df3.isnull())
print(df3.dropna())

      Adj Close
0         False
1         False
2         False
3         False
4         False
...         ...
4470      False
4471      False
4472      False
4473      False
4474      False

[4475 rows x 1 columns]
        Adj Close
0       89.375000
1       81.937500
2       69.750000
3       65.562500
4       69.562500
...           ...
4470   990.989990
4471   987.200012
4472   995.000000
4473  1000.929993
4474  1002.940002

[4475 rows x 1 columns]

In [38]:
print(df1.describe())
print('sum',df1.sum())
print('mean',df1.mean())
print('median',df1.median())
print('standard deviation',df1.std())

         Adj Close
count  4475.000000
mean     40.069959
std      43.478843
min       0.843106
25%       3.498618
50%      20.428621
75%      70.963589
max     164.050003
sum Adj Close    179313.065991
dtype: float64
mean Adj Close    40.069959
dtype: float64
median Adj Close    20.428621
dtype: float64
standard deviation Adj Close    43.478843
dtype: float64

In [39]:
print(df2.describe())
print('sum',df2.sum())
print('mean',df2.mean())
print('median',df2.median())
print('standard deviation',df2.std())

         Adj Close
count  3313.000000
mean    380.072458
std     223.853780
min      49.681866
25%     226.407440
50%     293.029114
75%     536.690002
max     989.679993
sum Adj Close    1.259180e+06
dtype: float64
mean Adj Close    380.072458
dtype: float64
median Adj Close    293.029114
dtype: float64
standard deviation Adj Close    223.85378
dtype: float64

In [40]:
print(df3.describe())
print('sum',df3.sum())
print('mean',df3.mean())
print('median',df3.median())
print('standard deviation',df3.std())

         Adj Close
count  4475.000000
mean    199.754344
std     242.728656
min       5.970000
25%      38.580002
50%      80.239998
75%     269.875000
max    1052.800049
sum Adj Close    893900.690722
dtype: float64
mean Adj Close    199.754344
dtype: float64
median Adj Close    80.239998
dtype: float64
standard deviation Adj Close    242.728656
dtype: float64

In [50]:
result= pd.concat([df1,df2,df3],axis=1)
print(result)

       Adj Close  Adj Close    Adj Close
0       3.596616  49.845802    89.375000
1       3.293384  53.805050    81.937500
2       3.341579  54.346527    69.750000
3       3.052405  52.096165    65.562500
4       3.196992  52.657513    69.562500
...          ...        ...          ...
4470  155.839996        NaN   990.989990
4471  155.899994        NaN   987.200012
4472  156.550003        NaN   995.000000
4473  156.000000        NaN  1000.929993
4474  156.990005        NaN  1002.940002

[4475 rows x 3 columns]

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt